{% extends './base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Nuevo Jetta {% endblock %}
{% block description %} Bienvenidos a Nuevo Jetta {% endblock %}
{% block content %}
    <div class="page-header" filter-color="black" style=" padding-bottom: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 ml-auto mr-auto px-5 mt-3 mb-4 scroll-bar">
                    {% autoescape off %}
                        <h2 class="text-center">{{ article.titulo }}</h2>

                        {{ article.contenido }}
                    {% endautoescape %}
                </div>
            </div>
            <form HIDDEN role="form" action="" method="post">
                {% csrf_token %}
              <div class="row px-5 mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                      {{ form.nombre |add_class:"form-control form-control-alternative" |attr:"placeholder:Nombre" }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      {{ form.apellido |add_class:"form-control form-control-alternative" |attr:"placeholder:Apellido" }}
                  </div>
                </div>
                  <div class="custom-control custom-checkbox mb-3">
                      {{ form.acepto_terminos |add_class:"custom-control-input" |attr:"checked" }}
                      <label class="custom-control-label" for="customCheck1">Acepto Aviso de privacidad y uso de imagen</label>
                  </div>
              </div>
                <br>
                <center>
                    <button type="submit" class="btn text-white pt-2" style="background-color: #02A1E1 !important; border-radius: 15px; width: 200px;">Enviar</button>
                </center>
            </form>
        </div>
    </div>

{% endblock %}