{% extends './base/base.html' %}
{% load static	 %}
{% load widget_tweaks %}
{% block title %} Preguntas {% endblock %}
{% block description %} JUNTA VP   {% endblock %}
{% block content %}
    <!--
    BEGINS CONTENT
-->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .calculator br {display:none;width:0;}
    .calculator tr td.br {display:none}

    @media all and (max-width:768px) {
        .calculator tr {display: table;width:100%;}
        .calculator td {width:50%;}
        .calculator th {width:50%;}
        .calculator tr td.br {display:table-row;}
        .calculator tr th.br {display:table-row;}
    }
    table, th, td {
      border: 1px solid white;
  }
</style>
<div class="container-fluid" style="margin-top: 20px">
    <br>
    <center class="mx-auto">
        <img class="img-fluid d-none d-lg-block" src="{% static 'assets/img/juntavp/JUNTA-LOGO-LARGE.png' %}" style="max-height: 80px; min-height: 50px; z-index: 100; position: absolute; top: 10px; right: 5%">                <img class="img-fluid px-3" src="{% static 'assets/img/juntavp/LOGOS.png' %}" style="max-height: 80px;">
    </center>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-11 mx-auto">
            <!-- BEGINS VIDEO -->
            <div class="card" style="background-color: rgba(255,255,255,0); border: 2px solid white; border-radius: 0">
                <div class="card-header" style="padding-bottom: 0;">
                    <div class="card-icon">
                        <h4 class="card-title text-dark"><i style="padding-right: 10px;"></i> Preguntas</h4>
                    </div>
                </div>


                <div class="card-body" x-data="$store.addRemove">
                    <table border="1" class="calculator text-white" style="width: 100%; padding-top: 10px;">
                        <tbody>
                            <tr style="background-color: rgba(255,255,255,0.2);">
                              <th scope="col" class="text-bold">Speaker</th>
                              <th scope="col" class="text-bold">Pregunta</th>
                              <th HIDDEN scope="col" class="text-bold">User</th>
                          </tr>
                          {% for i in questions %}
                          <tr>
                            <td>{{ i.speakerdosha }}</td>
                            <!-- hay que limitar la longitud del td -->
                            <td>{{ i.text }}</td>
                            <td HIDDEN>{{ i.user }}</td>
                        </tr>
                        {% endfor %}

                        <template x-for="field in $store.addRemove.fields" :key="field.id">
                            <tr>
                                <td x-text="field.speaker"></td>
                                <!-- hay que limitar la longitud del td -->
                                <td x-text="field.text"></td>
                                <td HIDDEN x-text="field.id">user</td>
                            </tr>
                        </template>
<!--                         <button  id="addrow" type="button" @click="addNewField"> Add Row</button> -->

                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <!--ENDS SCHEDULE -->
</div>
</div>
</div>

<div hidden>
<textarea id="chat-log" cols="20" rows="5"></textarea><br>
<input id="chat-message-speaker" type="text" size="20"><br>
<input id="chat-message-text" type="text" size="20"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}

</div>

<script>

    document.addEventListener('alpine:init', () => {
        Alpine.store('addRemove', {
            fields: [],

            addNewField(ws_speaker,ws_text) {
                console.log(this.fields);
                this.fields.push({id: new Date().getTime() + this.fields.length,text:ws_text,speaker:ws_speaker});
            },
            removeField(field) {
                this.fields.splice(this.fields.indexOf(field), 1);
            },
        })
    })


    const roomName = JSON.parse(document.getElementById('room-name').textContent);


    // function connect() {
        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + ':8001/test_ws_preguntas/'
            );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.text + '\n');
            Alpine.store('addRemove').addNewField(data.speaker,data.text)
            console.log('button :v');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            // alert("se cerro la conexion");

            // hay que reescribir la conexion
            // setTimeout(function() {
            //   connect();
            //   // poner el timeout en el admin
            // }, 10);
          };

        document.querySelector('#chat-message-text').focus();
        document.querySelector('#chat-message-text').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
            };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-text');
            const message = messageInputDom.value;

            const speakerInputDom = document.querySelector('#chat-message-speaker');
            const speaker = speakerInputDom.value;
            chatSocket.send(JSON.stringify({
                'text': message,
                "speaker":speaker
            }));
            messageInputDom.value = '';
            speakerInputDom.value = '';
        };
    // }
    // connect()
</script>


    <center>
        <form>
            <a href="{% url 'getfile' %}" class="btn btn-lg btn-darker" style="border-radius: 0">Descargar</a>
        </form>
    </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--
    ENDS CONTENT
-->
{% endblock %}